@charset "UTF-8";

html {
  margin: 0 ;
  overflow: auto ;
}
body {
  color: #fff ;
  background-color: #353353 ;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  margin: 20px 0;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
a {
  color: #fff ;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #ff4c60 ;
  text-decoration: none;
}
a:focus {
  outline: 0;
}

#preloader {
  background: #353353;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
}
.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #353353;
}

section {
  padding-top: 50px;
  position: relative;
}
section.home {
  background: #353353;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}
section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}
section.home .intro h1 {
  color: #fff;
  font-size: 36px;
}
section.home .intro span {
  color: #fff;
  font-size: 16px;
}
section.home .social-icons li a {
  color: #fff;
}

.parallax {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.parallax .layer {
  position: absolute;
}
.parallax .p1 {
  left: 10%;
  top: 10%;
}
.parallax .p2 {
  left: 20%;
  top: 30%;
}
.parallax .p3 {
  left: 13%;
  bottom: 38%;
}
.parallax .p4 {
  left: 10%;
  bottom: 10%;
}
.parallax .p5 {
  left: 45%;
  top: 5%;
}
.parallax .p6 {
  left: 40%;
  bottom: 10%;
}
.parallax .p7 {
  top: 20%;
  right: 30%;
}
.parallax .p8 {
  right: 18%;
  bottom: 30%;
}
.parallax .p9 {
  right: 10%;
  top: 10%;
}
.parallax .p10 {
  top: 45%;
  right: 20%;
}
.parallax .p11 {
  bottom: 10%;
  right: 10%;
}

.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.scroll-down.light span {
  color: #454360;
}
.scroll-down.light .mouse {
  border-color: #353353;
}
.scroll-down.light .mouse .wheel {
  background: #353353;
}
@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.mouse-wrapper {
  color: #fff;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
}
.mouse-wrapper:hover {
  color: #fff;
}
.mouse {
  border: solid 2px #fff;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 26px;
  position: relative;
  width: 20px;
}
.mouse .wheel {
  background: #fff;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: 4px;
  -webkit-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
}

.btn {
  border-radius: 30px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  position: relative;
}
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:focus {
  outline: 0;
}
@-webkit-keyframes button-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.btn {
  
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
}
.tapped:hover,.btn:hover {
  
  -webkit-animation-name: button-push;
  animation-name:button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.btn-full {
  text-align: center;
  width: 100%;
}
.btn:disabled {
  opacity: 1;
  cursor: not-allowed;
}
.social-icons li:not(:last-child) {
  margin-right: 1.5rem;
}
.social-icons li a {
  font-size: 21px;
}
.social-icons.icon li a:hover {
  color:yellow;
  
}

#return-to-top {
  position: fixed;
  bottom: 90px ;
  right: 25px;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  border-radius: 100%;
  display: none;
  z-index: 4;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 13px;
  top: 8px;
  font-size: 16px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#return-to-top:hover {
  background:#ff4c60;
}
 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  body,
  html {
    width: 100%;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 991px) {
  main.content {
    margin-left: 0;
  }

}
@media only screen and (max-width: 768px) {
  section.home {
    padding: 300px 0;
  }
  
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 920px;
  }
}



.cardload {
  max-width: 350px;
  width: 100%;
  background: #353353;
  padding: 30px;
  
  border-radius: 10px;
  border: 1px solid #656871;
}
.cardload .header {
  display: flex;
  align-items: center;
}
.header .img {
  height: 75px;
  width: 75px;
  background: #656871;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.header .details {
  margin-left: 20px;
}
.details span {
  display: block;
  background: #656871;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.details .name {
  height: 15px;
  width: 0;
}
.details .about {
  height: 25px;
  width: 100%;
  margin-top: 10px;
}
.cardload .description {
  margin: 25px 0;
}
.description .line {
  background: #656871;
  border-radius: 10px;
  height: 13px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.description .line-1 {
  width: calc(100% - 15%);
}
.description .line-3 {
  width: calc(100% - 40%);
}
.cardload .btns {
  display: flex;
}
.cardload .btns .btn {
  height: 45px;
  width: 100%;
  background: #656871;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.btns .btn-1 {
  margin-right: 8px;
}
.btns .btn-2 {
  margin-left: 8px;
}
.btns .btn::before,
.description .line::before,
.details span::before,
.header .img::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #656871 0,
    #888b94 20%,
    #656871 40%,
    #656871 100%
  );
  background-repeat: no-repeat;
  background-size: 450px 400px;
  animation: shimmer 1s linear infinite;
}
.header .img::before {
  background-size: 650px 600px;
}
.details span::before {
  animation-delay: 0.2s;
}
.btns .btn-2::before {
  animation-delay: 0.2s;
}
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}
.img {
  margin-left: 105px;
  border-radius:50px;
}

.morphext > .animated {
 display: inline-block;
 }
 
 
 
@-webkit-keyframes bounceIn {
 from,
 20%,
 40%,
 60%,
 80%,
 to {
 -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
 transform: scale3d(0.3, 0.3, 0.3);
 }
 
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
 }
 
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
 transform: scale3d(0.9, 0.9, 0.9);
 }
 
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
 }
 
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
 transform: scale3d(0.97, 0.97, 0.97);
 }
 
 to {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 }
 
 @keyframes bounceIn {
 from,
 20%,
 40%,
 60%,
 80%,
 to {
 -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 0% {
 opacity: 0;
 -webkit-transform: scale3d(0.3, 0.3, 0.3);
 transform: scale3d(0.3, 0.3, 0.3);
 }
 
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
 }
 
 40% {
 -webkit-transform: scale3d(0.9, 0.9, 0.9);
 transform: scale3d(0.9, 0.9, 0.9);
 }
 
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
 }
 
 80% {
 -webkit-transform: scale3d(0.97, 0.97, 0.97);
 transform: scale3d(0.97, 0.97, 0.97);
 }
 
 to {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 }
 
 .bounceIn {
 -webkit-animation-duration: 0.75s;
 animation-duration: 0.75s;
 -webkit-animation-name: bounceIn;
 animation-name: bounceIn;
 }
 
 @-webkit-keyframes bounceInDown {
 from,
 60%,
 75%,
 90%,
 to {
 -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 0% {
 opacity: 0;
 -webkit-transform: translate3d(0, -3000px, 0);
 transform: translate3d(0, -3000px, 0);
 }
 
 60% {
 opacity: 1;
 -webkit-transform: translate3d(0, 25px, 0);
 transform: translate3d(0, 25px, 0);
 }
 
 75% {
 -webkit-transform: translate3d(0, -10px, 0);
 transform: translate3d(0, -10px, 0);
 }
 
 90% {
 -webkit-transform: translate3d(0, 5px, 0);
 transform: translate3d(0, 5px, 0);
 }
 
 to {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
 }
 }
 
 .fixed-nav {
 background: #353353 ;
 width: 100% ;
 position: fixed;
 z-index: 100;
 bottom: 0px;
 left: 50%;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 box-shadow: 0 1px 10px #686686  ;
  }
 
 .fixed-nav .actions {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 }
 
 .fixed-nav .actions a {
 text-decoration: none;
 color: var(--light) ;
 font-size:20;
 font-weight:600;
 border-radius: ;
 cursor: pointer;
 width: 100%;
 padding:12px 1px 8px 1px;
 text-align: center;
 -webkit-transition: all 200ms ease;
 transition: all 200ms ease;
 border-bottom:4px solid white  ;
 }
 
 .fixed-nav .actions a:hover {
 border-bottom:4px solid lime ;
 color:lime;
 background:#464464;
 border-top-right-radius:10px;
 border-top-left-radius:10px;
 }
 
 .fixed-nav .actions a:hover::after {
 opacity: 1;
 }

 .mb-4 { height:150px;
 width: 150px;
 border-radius:50%;
 
 }
 

 .section-title {
 font-size: 25px;
 margin: 0;
 margin-left: 10px;
 position: relative;
 }
 .section-title:before {
 content: "";
 display: block;
 height: 30px;
 left: -14px;
 top: -14px;
 position: absolute;
 width: 37px;
 }
 
 .about-card {
 text-align:center;
 color:white;
 max-width: 600px;
 width: 90%;
 background:#6C6CE5;
 padding: 30px;
 border-radius: 10px;
 border: 1px solid #656871;
 }
 
.about-card:hover {
  background:#6C6CE5;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
  box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}
 
.d-full {
	width:100%;
	justify-content:center;
	display:flex;
	margin-top:15px;
}
 
 /* skill bar */
 .skill {
 display:flex;
 justify-content:center;
 color:#fff;
 margin-top:15px;
 }

 .skill-bars{
 padding: 25px 30px;
 padding-top:10px;
 width: 90%;
 max-width:600px ;
 background: #464364;
 border-radius: 10px;
 }
 .skill-bars:hover {
 	-webkit-box-shadow: 0px 5px 20px 0px #464364 ;
 	box-shadow: 0px 5px 20px 0px #464364 ;
 }
 .skill-bars .bar{
 margin: 20px 0;
 }
 .skill-bars .bar:first-child{
 margin-top: 0px;
 }
 .skill-bars .bar .info{
 margin-bottom: 5px;
 }
 .skill-bars .bar .info span{
 font-weight: 500;
 font-size: 17px;
 opacity: 0;
 animation: showText 0.5s 1s linear forwards;
 }
 @keyframes showText {
 100%{
 opacity: 1;
 }
 }
 .skill-bars .bar .progress-line{
 height: 10px;
 width: 100%;
 background:aliceblue;
 position: relative;
 transform: scaleX(0);
 transform-origin: left;
 border-radius: 10px;
 box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
 0 1px rgba(255,255,255,0.8);
 animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
 }
 @keyframes animate {
 100%{
 transform: scaleX(1);
 }
 }
 .bar .progress-line span{
 height: 100%;
 position: absolute;
 border-radius: 10px;
 transform: scaleX(0);
 transform-origin: left;
 background: #6665ee;
 animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
 }
 .bar .progress-line.html span{
 width: 95% ;
 
 }
 .bar .progress-line.css span{
 width: 80%;

 }
 .bar .progress-line.php span{
 width: 60%;
 
 }
 .bar .progress-line.python span{
 width: 40%;
 
 }
 .bar .progress-line.js span{
 width: 75%;
 background-color:;
 }
 .progress-line span::before{
 position: absolute;
 content: "";
 top: -10px;
 right: 0;
 height: 0;
 width: 0;
 border: 8px solid transparent  ;
 border-bottom-width: 0px;
 border-right-width: 0px;
 border-top-color: #353353;
 opacity: 0;
 animation: showText2 0.5s 1.5s linear forwards;
 }
 .progress-line span::after{
 position: absolute;
 top: -28px;
 right: 0;
 font-weight: 500;
 background: #353353 ;
 color: #fff ;
 padding: 1px 8px;
 font-size: 12px;
 border-radius: 3px;
 
 opacity: 0;
 animation: showText2 0.5s 1.5s linear forwards;
 }
 @keyframes showText2 {
 100%{
 opacity: 1;
 }
 }
 .progress-line.html span::after{
 content: "95%";
 }
 .progress-line.css span::after{
 content: "80%";
 }
 .progress-line.php span::after{
 content: "60%";
 }
 .progress-line.python span::after{
 content: "40%";
 }
 .progress-line.js span::after{
 content: "75%";
 }
 
.skill-title {
	text-align:center;
	padding:0px;
	color:aliceblue;
	border:2px dotted aliceblue;
	
	background:#353353;
	border-radius:12px ;
	
}
 
 /* skill end */
 
.project-item {
 	justify-content:center;
 	margin-top:10px;
 	padding-top:15px;
 }
 
 .desk {
 margin:15px;
 background:#464364;
 text-align:center;
 border: solid #464364;
 border-width:4px;
 width:90%;
 max-width:450px;
 }
 
#github {
 font-size:30px;
 font-weight:600;
 padding:5px 20px 5px 20px;
 }

@media only screen and (min-width: 768px) {
.project {
display:flex;
justify-content:center;
}

.desk-flex {
 display:flex;
 justify-content:center;
 }
.about-card {
margin-left:20px;
width:100%;
}
.skill{
 width:100%;
 margin:0;
 }
}

.tags-txt { 
 text-align:left;
 }
.card-title {
 padding-top:5px;
 margin-top:0px;
 }

.download {
 padding-left:10px;
 padding-right:10px;
 
 }
 

.project-item:hover {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(-10px);
  }
  
/*contact form */
.contact-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #353353 ;
  border-radius: 12px;
  border:2px solid #464464 ;
  border-top:none;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background:#464464;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color:lime  ;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--success) ;
}

.app-contact {
  margin-top: auto;
  font-size: 10px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 8px 0;
  background: none;
  border: none;
  border-bottom: 1px solid var(--success)  ;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  
  transition: border-color .2s;
}

.app-form-control::-moz-placeholder {
  color: #575575 ;
}
.app-form-control:-ms-input-placeholder {
  color: #575575 ;
}
.app-form-control::placeholder {
  color: #575575 ;
}
.app-form-control:focus {
  border-bottom-color:lime;
}

.app-form-button {
  background: none;
  border: none;
  color:lime ;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: var(--success) ;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }

.screen { margin:6px;} 
}
@media screen and (min-width: 900px) {
.screen { margin:40px;}
}
/*form end*/

/*footer xtart*/
.cp-bg {
 background:#464464;
 border:1px solid black;
 }
 footer {
 margin-top:80px;
 position:relative;
 background: #353353 ;
 width: 100%;
 bottom: 0;
 left: 0;
 }
 footer::before {
 content: " ";
 position: absolute;
 left: 0;
 color:#fff;
 top: -30px;
 height: 2px;
 width: 100%;
 background: #464464;
 }
 footer .content {
 margin: auto;
 padding: 30px 1px 100px 1px;
 }
 footer .content .top {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 50px;
 }
 .content .top .logo-details {
 color: #fff;
 font-size: 20px;
 }
 .content .top .media-icons {
 display: flex;
 margin-top: 16px;
 }
 .content .top .media-icons a {
 height: 30px;
 width: 30px;
 margin: 0 8px;
 border-radius: 50%;
 text-align: center;
 padding:5px;
 width:40px;
 height:40px;
 align-items:center;
 justify-content:center;
 display:flex;
 color: #fff;
 font-size: 17px;
 text-decoration: none;
 transition: all 0.4s ease;
 }
 .top .media-icons a:nth-child(1) {
 background: #4267b2;
 }
 .top .media-icons a:nth-child(1):hover {
 color: #4267b2;
 background: #fff;
 }
 .top .media-icons a:nth-child(2) {
 background:purple ;
 }
 .top .media-icons a:nth-child(2):hover {
 color:purple;
 background: #fff;
 }
 .top .media-icons a:nth-child(3) {
 background: #e1306c;
 }
 .top .media-icons a:nth-child(3):hover {
 color: #e1306c;
 background: #fff;
 }
 .top .media-icons a:nth-child(4) {
 background: #4B0082 ;
 }
 .top .media-icons a:nth-child(4):hover {
 color: #000;
 background: #fff;
 }
 .top .media-icons a:nth-child(5) {
 background: red;
 }
 .top .media-icons a:nth-child(5):hover {
 color: red;
 background: #fff;
 }
/*footer end*/